# GoVote - Analyze Dataset
Cuyahoga County Voting information

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# 1. Create a DataFrame for the voting data. 
file_to_open = "resources/rvht.csv"
vote_df = pd.read_csv(file_to_open, encoding="ISO-8859-1")

C:\Users\Stephanie\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3524: DtypeWarning: Columns (13,25,26,28,35,39,41,42,44,56,71,77,78,82,84,88,89,91,97) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
vote_df.head()

,voter_id_org,STATE_ID,city,ward,pct,name_last,name_first,name_middle,name_suffix,Status,...,S_02_06_2007,S_08_08_2006,P_05_02_2006,S_02_07_2006,scd,CONG,HSE,SEN,JUD,CCD
0,2410948,OH0020345885,GARFIELD HTS,4,B,TEKAVEC,RYAN,M,NaN,A,...,NaN,NaN,NaN,NaN,GAHT CSD,CONG 11,HSE 18,SEN 21,GAR MCD,CCD 08
1,189273,OH0014544976,CLEVELAND,9,H,GREEN,RAY,CLINTON,NaN,A,...,NaN,NaN,D,NaN,CLEV CSD,CONG 11,HSE 20,SEN 23,CLE MCD,CCD 07
2,504938,OH0014696549,INDEPENDENCE,0,E,NELSON,CHRIS,F,NaN,A,...,NaN,NaN,NaN,NaN,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
3,2078785,OH0015598952,INDEPENDENCE,0,E,BECKER,ANTHONY,E,NaN,A,...,NaN,NaN,NaN,NaN,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
4,2773489,OH0024074123,VALLEY VIEW,0,A,ADAMS,TRAVIS,MICHAEL,NaN,I,...,NaN,NaN,NaN,NaN,CYHT LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06

In [4]:
reg_df = vote_df[['voter_id_org','Registration Date']]
reg_df

        voter_id_org Registration Date
0            2410948        10/06/2008
1             189273        01/01/1901
2             504938        01/01/1901
3            2078785        09/23/2004
4            2773489        10/11/2016
...              ...               ...
873946       2623942        11/06/2013
873947       1638210        03/19/1996
873948       2206148        06/19/2006
873949       2980747        10/05/2020
873950       3017222        02/23/2022

[873951 rows x 2 columns]

In [5]:
# Get the descriptive statistics for full voting df (analysis shows mininum birth year is 1800)
vote_df.describe()

       voter_id_org           ward     birth_date
count  8.739510e+05  873951.000000  873951.000000
mean   1.965182e+06       4.440742    1971.872761
std    9.462432e+05       4.273721      18.704231
min    1.100100e+04       0.000000    1800.000000
25%    9.795340e+05       1.000000    1957.000000
50%    2.311710e+06       3.000000    1972.000000
75%    2.753254e+06       6.000000    1988.000000
max    3.026332e+06      17.000000    2004.000000

In [6]:
# Get the total number of registered voters
voter_count = vote_df["voter_id_org"].count()
voter_count

873951

In [7]:
# Get the total number of voters in presidential elections
pres_voter_count_df = vote_df[(vote_df['voter_id_org']) & (vote_df['G_11_03_2020'] == "Y") & (vote_df['G_11_08_2016'] == "Y") & (vote_df['G_11_06_2012'] == "Y") & (vote_df['G_11_04_2008'] == "Y")].count()
pres_voter_count_df.head(1)

voter_id_org    158555
dtype: int64

In [8]:
# Get the total number of democratic voters in primary presidential elections
dem_voter_count_df = vote_df[(vote_df['P_03_17_2020'] == "D")].count()
dem_voter_count_df.head(1)

voter_id_org    136623
dtype: int64

In [9]:
# Get the total number of Republican voters in primary presidential elections
rep_voter_count_df = vote_df[(vote_df['P_03_17_2020'] == "R")].count()
rep_voter_count_df.head(1)

voter_id_org    37926
dtype: int64

In [10]:
party_df = vote_df['party'].unique()
party_df

array(['NOPTY', 'DEM', 'REP', 'GRE', 'LIB'], dtype=object)

In [11]:
# Get the total number of Democratic registered voters
dem_total = vote_df[(vote_df['party'] == "DEM")].count()
dem_total.head(1)

voter_id_org    203042
dtype: int64

In [12]:
# Get the total number of Republican registered voters
rep_total = vote_df[(vote_df['party'] == "REP")].count()
rep_total.head(1)

voter_id_org    93654
dtype: int64

In [13]:
# Get the total number of No Party registered voters
no_party_total = vote_df[(vote_df['party'] == "NOPTY")].count()
no_party_total.head(1)

voter_id_org    576913
dtype: int64

In [14]:
# Calculate the total number of unique cities
city_count = vote_df["city"].nunique()
city_count

59

In [15]:
# Calculate the average voter birth year.
average_voting_age = vote_df["birth_date"].mean()
average_voting_age

1971.8727606009948

# GoVote - Clean Dataset

In [16]:
primary_general_df =vote_df[vote_df.columns.drop(list(vote_df.filter(regex='S_|SG_|SP_')))]
primary_general_df.shape

(873951, 74)

In [17]:
primary_general_df.head()

,voter_id_org,STATE_ID,city,ward,pct,name_last,name_first,name_middle,name_suffix,Status,...,P_09_11_2007,P_05_08_2007,G_11_07_2006,P_05_02_2006,scd,CONG,HSE,SEN,JUD,CCD
0,2410948,OH0020345885,GARFIELD HTS,4,B,TEKAVEC,RYAN,M,NaN,A,...,NaN,NaN,NaN,NaN,GAHT CSD,CONG 11,HSE 18,SEN 21,GAR MCD,CCD 08
1,189273,OH0014544976,CLEVELAND,9,H,GREEN,RAY,CLINTON,NaN,A,...,NaN,NaN,NaN,D,CLEV CSD,CONG 11,HSE 20,SEN 23,CLE MCD,CCD 07
2,504938,OH0014696549,INDEPENDENCE,0,E,NELSON,CHRIS,F,NaN,A,...,NaN,NaN,Y,NaN,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
3,2078785,OH0015598952,INDEPENDENCE,0,E,BECKER,ANTHONY,E,NaN,A,...,NaN,NaN,Y,NaN,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
4,2773489,OH0024074123,VALLEY VIEW,0,A,ADAMS,TRAVIS,MICHAEL,NaN,I,...,NaN,NaN,NaN,NaN,CYHT LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06

In [18]:
primary_general_df.to_csv('primary_gen.csv')

In [19]:
primary_general_df.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['voter_id_org', 'STATE_ID', 'city', 'ward', 'pct', 'name_last',
       'name_first', 'name_middle', 'name_suffix', 'Status', 'party',
       'Registration Date', 'Last Registration Date', 'house_no', 'pre_dir',
       'street', 'apartment', 'zip', 'birth_date', 'Source', 'P_05_03_2022',
       'G_11_02_2021', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021',
       'G_11_03_2020', 'P_03_17_2020', 'G_11_05_2019', 'P_09_10_2019',
       'P_05_07_2019', 'G_11_06_2018', 'P_05_08_2018', 'G_11_07_2017',
       'P_09_12_2017', 'P_05_02_2017', 'G_11_08_2016', 'P_03_15_2016',
       'G_11_03_2015', 'P_09_08_2015', 'P_05_05_2015', 'G_11_04_2014',
       'P_05_06_2014', 'G_11_05_2013', 'P_10_01_2013', 'P_09_10_2013',
       'P_05_07_2013', 'G_11_06_2012', 'P_03_06_2012', 'G_11_08_2011',
       'P_09_13_2011', 'P_05_03_2011', 'G_11_02_2010', 'P_09_07_2010',
       'P_05_04_2010', 'G_11_03_2009', 'P_09_29_2009', 'P_09_08_2009',
       'P_05_05_2009', 'G_11_04_2008', 'P_03_04_2008', 'G_11_06_2007',
       'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007',
       'P_05_08_2007', 'G_11_07_2006', 'P_05_02_2006', 'scd', 'CONG', 'HSE',
       'SEN', 'JUD', 'CCD'],
      dtype='object')>

In [20]:
# Make dataFrame of Voter Info
voter_df = primary_general_df[['voter_id_org', 'city', 'ward', 'pct', 'party','birth_date','zip', 'Source', 'scd', 'CONG', 'HSE', 'SEN', 'JUD', 'CCD']]
voter_df.head()

,voter_id_org,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,SEN,JUD,CCD
0,2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,CONG 11,HSE 18,SEN 21,GAR MCD,CCD 08
1,189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,CONG 11,HSE 20,SEN 23,CLE MCD,CCD 07
2,504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
3,2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
4,2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06

In [21]:
voter_df = voter_df.set_index('voter_id_org')
voter_df.head()

,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,SEN,JUD,CCD
voter_id_org,,,,,,,,,,,,,
2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,CONG 11,HSE 18,SEN 21,GAR MCD,CCD 08
189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,CONG 11,HSE 20,SEN 23,CLE MCD,CCD 07
504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06

In [22]:
# Removed unnecessary words in columns
voter_df['CONG'] = voter_df['CONG'].str.replace('CONG', '')
voter_df['HSE'] = voter_df['HSE'].str.replace('HSE', '')
voter_df['SEN'] = voter_df['SEN'].str.replace('SEN', '')
voter_df['JUD'] = voter_df['JUD'].str.replace('MCD', '')
voter_df['CCD'] = voter_df['CCD'].str.replace('CCD', '')
voter_df.head()

,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,SEN,JUD,CCD
voter_id_org,,,,,,,,,,,,,
2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,11,18,21,GAR,08
189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,11,20,23,CLE,07
504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,07,19,18,GAR,06
2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,07,19,18,GAR,06
2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,07,19,18,GAR,06

In [23]:
#Make all the zip codes 5 digits instead of combination of 5 and 9 digits
voter_df['zip'] = voter_df['zip'].str[:5]
voter_df.head()

,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,SEN,JUD,CCD
voter_id_org,,,,,,,,,,,,,
2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,11,18,21,GAR,08
189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,11,20,23,CLE,07
504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,07,19,18,GAR,06
2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,07,19,18,GAR,06
2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,07,19,18,GAR,06

In [24]:
#Make Election DataFrame
election_df = primary_general_df[['voter_id_org','P_05_03_2022', 'G_11_02_2021', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021', 'G_11_03_2020', 'P_03_17_2020', 'G_11_05_2019', 'P_09_10_2019', 'P_05_07_2019', 'G_11_06_2018', 'P_05_08_2018', 'G_11_07_2017', 'P_09_12_2017', 'P_05_02_2017', 'G_11_08_2016', 'P_03_15_2016', 'G_11_03_2015', 'P_09_08_2015', 'P_05_05_2015', 'G_11_04_2014', 'P_05_06_2014', 'G_11_05_2013', 'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013', 'G_11_06_2012', 'P_03_06_2012', 'G_11_08_2011', 'P_09_13_2011', 'P_05_03_2011', 'G_11_02_2010', 'P_09_07_2010', 'P_05_04_2010', 'G_11_03_2009', 'P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009', 'G_11_04_2008', 'P_03_04_2008', 'G_11_06_2007', 'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'G_11_07_2006', 'P_05_02_2006']]
election_df

,voter_id_org,P_05_03_2022,G_11_02_2021,P_09_14_2021,P_08_03_2021,P_05_04_2021,G_11_03_2020,P_03_17_2020,G_11_05_2019,P_09_10_2019,...,G_11_04_2008,P_03_04_2008,G_11_06_2007,P_10_02_2007,P_09_25_2007,P_09_18_2007,P_09_11_2007,P_05_08_2007,G_11_07_2006,P_05_02_2006
0,2410948,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,189273,D,Y,N,NaN,NaN,Y,NaN,Y,NaN,...,Y,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
2,504938,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN,...,Y,D,Y,NaN,NaN,NaN,NaN,NaN,Y,NaN
3,2078785,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN,...,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,Y,NaN
4,2773489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873946,2623942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873947,1638210,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873948,2206148,N,Y,NaN,NaN,NaN,Y,NaN,NaN,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
873949,2980747,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873950,3017222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Replace NaN in election_df
election_cleaned = election_df.fillna(0)
election_cleaned.head()

,voter_id_org,P_05_03_2022,G_11_02_2021,P_09_14_2021,P_08_03_2021,P_05_04_2021,G_11_03_2020,P_03_17_2020,G_11_05_2019,P_09_10_2019,...,G_11_04_2008,P_03_04_2008,G_11_06_2007,P_10_02_2007,P_09_25_2007,P_09_18_2007,P_09_11_2007,P_05_08_2007,G_11_07_2006,P_05_02_2006
0,2410948,0,0,0,0,0,Y,0,0,0,...,Y,0,0,0,0,0,0,0,0,0
1,189273,D,Y,N,0,0,Y,0,Y,0,...,Y,D,0,0,0,0,0,0,0,D
2,504938,0,0,0,0,0,Y,0,Y,0,...,Y,D,Y,0,0,0,0,0,Y,0
3,2078785,0,0,0,0,0,Y,0,Y,0,...,Y,0,Y,0,0,0,0,0,Y,0
4,2773489,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
#Made only General Election DataFrame
gen_cleaned_df = election_cleaned[['voter_id_org','G_11_02_2021', 'G_11_03_2020', 'G_11_05_2019', 'G_11_06_2018', 'G_11_07_2017', 'G_11_08_2016', 'G_11_03_2015', 'G_11_04_2014', 'G_11_05_2013', 'G_11_06_2012', 'G_11_08_2011', 'G_11_02_2010', 'G_11_03_2009', 'G_11_04_2008', 'G_11_06_2007', 'G_11_07_2006']]
gen_cleaned_df.head()

,voter_id_org,G_11_02_2021,G_11_03_2020,G_11_05_2019,G_11_06_2018,G_11_07_2017,G_11_08_2016,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
0,2410948,0,Y,0,Y,0,Y,Y,0,0,Y,Y,0,0,Y,0,0
1,189273,Y,Y,Y,Y,Y,Y,Y,Y,0,Y,Y,Y,0,Y,0,0
2,504938,0,Y,Y,Y,0,Y,0,Y,Y,Y,Y,Y,Y,Y,Y,Y
3,2078785,0,Y,Y,Y,Y,Y,Y,Y,0,0,Y,Y,0,Y,Y,Y
4,2773489,0,0,0,0,0,Y,0,0,0,0,0,0,0,0,0,0

In [27]:
gen_cleaned_df.dtypes

voter_id_org     int64
G_11_02_2021    object
G_11_03_2020    object
G_11_05_2019    object
G_11_06_2018    object
G_11_07_2017    object
G_11_08_2016    object
G_11_03_2015    object
G_11_04_2014    object
G_11_05_2013    object
G_11_06_2012    object
G_11_08_2011    object
G_11_02_2010    object
G_11_03_2009    object
G_11_04_2008    object
G_11_06_2007    object
G_11_07_2006    object
dtype: object

In [28]:
gen_cleaned_df.replace(
        to_replace="Y",
        value=1,
        inplace=True)

C:\Users\Stephanie\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [29]:
gen_cleaned_df.head()

,voter_id_org,G_11_02_2021,G_11_03_2020,G_11_05_2019,G_11_06_2018,G_11_07_2017,G_11_08_2016,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
0,2410948,0,1,0,1,0,1,1,0,0,1,1,0,0,1,0,0
1,189273,1,1,1,1,1,1,1,1,0,1,1,1,0,1,0,0
2,504938,0,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1
3,2078785,0,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1
4,2773489,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [30]:
gen_cleaned_df = gen_cleaned_df.set_index('voter_id_org')
gen_cleaned_df.head()

,G_11_02_2021,G_11_03_2020,G_11_05_2019,G_11_06_2018,G_11_07_2017,G_11_08_2016,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
voter_id_org,,,,,,,,,,,,,,,,
2410948,0,1,0,1,0,1,1,0,0,1,1,0,0,1,0,0
189273,1,1,1,1,1,1,1,1,0,1,1,1,0,1,0,0
504938,0,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1
2078785,0,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1
2773489,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [31]:
# Make Primary Election DataFrame
primary_df = primary_general_df[['voter_id_org','P_05_03_2022', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021', 'P_03_17_2020', 'P_09_10_2019', 'P_05_07_2019', 'P_05_08_2018', 'P_09_12_2017', 'P_05_02_2017', 'P_03_15_2016', 'P_09_08_2015', 'P_05_05_2015', 'P_05_06_2014', 'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013','P_03_06_2012',  'P_09_13_2011', 'P_05_03_2011', 'P_09_07_2010', 'P_05_04_2010','P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009','P_03_04_2008', 'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'P_05_02_2006']]
primary_cleaned = primary_df.fillna(0)
primary_cleaned.replace(
        to_replace="Y",
        value=1,
        inplace=True)
primary_cleaned = primary_cleaned.set_index('voter_id_org')
primary_cleaned.head()

,P_05_03_2022,P_09_14_2021,P_08_03_2021,P_05_04_2021,P_03_17_2020,P_09_10_2019,P_05_07_2019,P_05_08_2018,P_09_12_2017,P_05_02_2017,...,P_09_29_2009,P_09_08_2009,P_05_05_2009,P_03_04_2008,P_10_02_2007,P_09_25_2007,P_09_18_2007,P_09_11_2007,P_05_08_2007,P_05_02_2006
voter_id_org,,,,,,,,,,,,,,,,,,,,,
2410948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
189273,D,N,0,0,0,0,0,0,N,0,...,0,0,0,D,0,0,0,0,0,D
504938,0,0,0,0,0,0,0,0,0,0,...,0,0,0,D,0,0,0,0,0,0
2078785,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2773489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Preliminary Machine Learning processing

In [32]:
# Hot Code Primary Dataset to keep the Party Affliation Data
one_hot_encoded_data = pd.get_dummies(primary_cleaned, columns = ['P_05_03_2022', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021', 'P_03_17_2020', 'P_09_10_2019', 'P_05_07_2019', 'P_05_08_2018', 'P_09_12_2017', 'P_05_02_2017', 'P_03_15_2016', 'P_09_08_2015', 'P_05_05_2015', 'P_05_06_2014', 'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013','P_03_06_2012',  'P_09_13_2011', 'P_05_03_2011', 'P_09_07_2010', 'P_05_04_2010','P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009','P_03_04_2008', 'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'P_05_02_2006'])
print(one_hot_encoded_data)

              P_05_03_2022_0  P_05_03_2022_D  P_05_03_2022_N  P_05_03_2022_R  \
voter_id_org
2410948                    1               0               0               0
189273                     0               1               0               0
504938                     1               0               0               0
2078785                    1               0               0               0
2773489                    1               0               0               0
...                      ...             ...             ...             ...
2623942                    1               0               0               0
1638210                    1               0               0               0
2206148                    0               0               1               0
2980747                    1               0               0               0
3017222                    1               0               0               0

              P_09_14_2021_0  P_09_14_2021_D  P_09_14_2021_N  P_08_03_2021_0  \
voter_id_org
2410948                    1               0               0               1
189273                     0               0               1               1
504938                     1               0               0               1
2078785                    1               0               0               1
2773489                    1               0               0               1
...                      ...             ...             ...             ...
2623942                    1               0               0               1
1638210                    1               0               0               1
2206148                    1               0               0               1
2980747                    1               0               0               1
3017222                    1               0               0               1

              P_08_03_2021_D  P_08_03_2021_N  ...  P_05_08_2007_D  \
voter_id_org                                  ...
2410948                    0               0  ...               0
189273                     0               0  ...               0
504938                     0               0  ...               0
2078785                    0               0  ...               0
2773489                    0               0  ...               0
...                      ...             ...  ...             ...
2623942                    0               0  ...               0
1638210                    0               0  ...               0
2206148                    0               0  ...               0
2980747                    0               0  ...               0
3017222                    0               0  ...               0

              P_05_08_2007_I  P_05_08_2007_N  P_05_08_2007_R  P_05_02_2006_0  \
voter_id_org
2410948                    0               0               0               1
189273                     0               0               0               0
504938                     0               0               0               1
2078785                    0               0               0               1
2773489                    0               0               0               1
...                      ...             ...             ...             ...
2623942                    0               0               0               1
1638210                    0               0               0               1
2206148                    0               0               0               1
2980747                    0               0               0               1
3017222                    0               0               0               1

              P_05_02_2006_   P_05_02_2006_D  P_05_02_2006_I  P_05_02_2006_N  \
voter_id_org
2410948                    0               0               0               0
189273                     0               1               0               0
504938                     0               0               0               0
2078785                    0               0               0               0
2773489                    0               0               0               0
...                      ...             ...             ...             ...
2623942                    0               0               0               0
1638210                    0               0               0               0
2206148                    0               0               0               0
2980747                    0               0               0               0
3017222                    0               0               0               0

              P_05_02_2006_R
voter_id_org
2410948                    0
189273                     0
504938                     0
2078785                    0
2773489                    0
...                      ...
2623942                    0
1638210                    0
2206148                    0
2980747                    0
3017222                    0

[873951 rows x 138 columns]

# GoVote - adding Generational Groups

In [33]:
# 1. Create a DataFrame for the primary election data. 
file_to_open = "resources/prim_gen_joined.csv"
primary_elec_df = pd.read_csv(file_to_open, encoding="ISO-8859-1") 
primary_elec_df.head()

,Voter_ID,City,Zip_Code,Party,Birth_Year,2020_Primary_Election,2020_General_Election,2016_Primary_Election,2016_General_Election,2012_Primary_Election,2012_General_Election,2008_Primary_Election,2008_General_Election
0,704844,SEVEN HILLS,44131,NOPTY,1959,0,t,D,t,0,t,D,t
1,1658758,PARMA,44130,REP,1968,0,t,R,t,R,t,D,t
2,2005536,BROADVIEW HTS,44147,REP,1976,0,t,R,t,R,t,D,t
3,2465762,SOLON,44139,NOPTY,1991,0,f,0,f,0,t,0,f
4,710633,INDEPENDENCE,44131,REP,1968,0,t,R,t,R,t,0,t

In [34]:
# Establish the spending bins and group names.
age_bins = [0, 1945, 1964, 1980, 1996, 2012]
group_names = ["Silent", "Boomers", "Generation X", "Millennials", "Generation Z"]

# Categorize spending based on the bins.
primary_elec_df["Generational_Group"] = pd.cut(primary_elec_df["Birth_Year"], age_bins, labels=group_names)

primary_elec_df

,Voter_ID,City,Zip_Code,Party,Birth_Year,2020_Primary_Election,2020_General_Election,2016_Primary_Election,2016_General_Election,2012_Primary_Election,2012_General_Election,2008_Primary_Election,2008_General_Election,Generational_Group
0,704844,SEVEN HILLS,44131,NOPTY,1959,0,t,D,t,0,t,D,t,Boomers
1,1658758,PARMA,44130,REP,1968,0,t,R,t,R,t,D,t,Generation X
2,2005536,BROADVIEW HTS,44147,REP,1976,0,t,R,t,R,t,D,t,Generation X
3,2465762,SOLON,44139,NOPTY,1991,0,f,0,f,0,t,0,f,Millennials
4,710633,INDEPENDENCE,44131,REP,1968,0,t,R,t,R,t,0,t,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873946,689381,PARMA HTS,44130,DEM,1958,D,t,D,t,0,t,D,t,Boomers
873947,823935,STRONGSVILLE,44149,REP,1946,R,t,D,t,X,t,D,t,Boomers
873948,749942,EUCLID,44132,DEM,1927,0,t,0,t,0,t,D,t,Silent
873949,276903,EUCLID,44132,NOPTY,1944,0,f,0,f,0,t,0,t,Silent
873950,3017222,SEVEN HILLS,44131,NOPTY,1975,0,f,0,f,0,f,0,f,Generation X

In [35]:
primary_elec_df  = primary_elec_df[primary_elec_df['Birth_Year'] >= 1928]
primary_elec_df['Birth_Year'].describe()

count    870075.000000
mean       1972.083349
std          18.475903
min        1928.000000
25%        1957.000000
50%        1973.000000
75%        1988.000000
max        2004.000000
Name: Birth_Year, dtype: float64

In [36]:
reg_df.rename(columns = {'voter_id_org':'Voter_ID', 'Registration Date':'Registration_Date'}, inplace = True)
reg_df

C:\Users\Stephanie\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        Voter_ID Registration_Date
0        2410948        10/06/2008
1         189273        01/01/1901
2         504938        01/01/1901
3        2078785        09/23/2004
4        2773489        10/11/2016
...          ...               ...
873946   2623942        11/06/2013
873947   1638210        03/19/1996
873948   2206148        06/19/2006
873949   2980747        10/05/2020
873950   3017222        02/23/2022

[873951 rows x 2 columns]

In [37]:
voter_data_complete_df = pd.merge(primary_elec_df, reg_df, on=["Voter_ID", "Voter_ID"])
voter_data_complete_df.head()

,Voter_ID,City,Zip_Code,Party,Birth_Year,2020_Primary_Election,2020_General_Election,2016_Primary_Election,2016_General_Election,2012_Primary_Election,2012_General_Election,2008_Primary_Election,2008_General_Election,Generational_Group,Registration_Date
0,704844,SEVEN HILLS,44131,NOPTY,1959,0,t,D,t,0,t,D,t,Boomers,01/01/1901
1,1658758,PARMA,44130,REP,1968,0,t,R,t,R,t,D,t,Generation X,09/09/1996
2,2005536,BROADVIEW HTS,44147,REP,1976,0,t,R,t,R,t,D,t,Generation X,03/08/2004
3,2465762,SOLON,44139,NOPTY,1991,0,f,0,f,0,t,0,f,Millennials,09/27/2010
4,710633,INDEPENDENCE,44131,REP,1968,0,t,R,t,R,t,0,t,Generation X,01/01/1901

In [38]:
voter_data_complete_df  = voter_data_complete_df[voter_data_complete_df['Birth_Year'] >= 1928]
voter_data_complete_df.head()

,Voter_ID,City,Zip_Code,Party,Birth_Year,2020_Primary_Election,2020_General_Election,2016_Primary_Election,2016_General_Election,2012_Primary_Election,2012_General_Election,2008_Primary_Election,2008_General_Election,Generational_Group,Registration_Date
0,704844,SEVEN HILLS,44131,NOPTY,1959,0,t,D,t,0,t,D,t,Boomers,01/01/1901
1,1658758,PARMA,44130,REP,1968,0,t,R,t,R,t,D,t,Generation X,09/09/1996
2,2005536,BROADVIEW HTS,44147,REP,1976,0,t,R,t,R,t,D,t,Generation X,03/08/2004
3,2465762,SOLON,44139,NOPTY,1991,0,f,0,f,0,t,0,f,Millennials,09/27/2010
4,710633,INDEPENDENCE,44131,REP,1968,0,t,R,t,R,t,0,t,Generation X,01/01/1901

In [39]:
voter_data_complete_df  = voter_data_complete_df[voter_data_complete_df['Registration_Date'] <= '10/05/2020']
voter_data_complete_df.head()

,Voter_ID,City,Zip_Code,Party,Birth_Year,2020_Primary_Election,2020_General_Election,2016_Primary_Election,2016_General_Election,2012_Primary_Election,2012_General_Election,2008_Primary_Election,2008_General_Election,Generational_Group,Registration_Date
0,704844,SEVEN HILLS,44131,NOPTY,1959,0,t,D,t,0,t,D,t,Boomers,01/01/1901
1,1658758,PARMA,44130,REP,1968,0,t,R,t,R,t,D,t,Generation X,09/09/1996
2,2005536,BROADVIEW HTS,44147,REP,1976,0,t,R,t,R,t,D,t,Generation X,03/08/2004
3,2465762,SOLON,44139,NOPTY,1991,0,f,0,f,0,t,0,f,Millennials,09/27/2010
4,710633,INDEPENDENCE,44131,REP,1968,0,t,R,t,R,t,0,t,Generation X,01/01/1901

In [46]:
voter_data_complete_df['Registration_Date'] =  pd.to_datetime(voter_data_complete_df['Registration_Date'], format ='%m-%d-%Y')

In [47]:
voter_data_complete_df.dtypes

Voter_ID                          int64
City                             object
Zip_Code                          int64
Party                            object
Birth_Year                        int64
2020_Primary_Election            object
2020_General_Election            object
2016_Primary_Election            object
2016_General_Election            object
2012_Primary_Election            object
2012_General_Election            object
2008_Primary_Election            object
2008_General_Election            object
Generational_Group             category
Registration_Date        datetime64[ns]
dtype: object

In [49]:
# Make dataFrame of Voter Info
voter_final = voter_data_complete_df[['Voter_ID', 'Birth_Year','City','Zip_Code','Party','Registration_Date', '2020_Primary_Election', '2020_General_Election', '2016_Primary_Election','2016_General_Election', 'Generational_Group']]
voter_final.head()

,Voter_ID,Birth_Year,City,Zip_Code,Party,Registration_Date,2020_Primary_Election,2020_General_Election,2016_Primary_Election,2016_General_Election,Generational_Group
0,704844,1959,SEVEN HILLS,44131,NOPTY,1901-01-01,0,t,D,t,Boomers
1,1658758,1968,PARMA,44130,REP,1996-09-09,0,t,R,t,Generation X
2,2005536,1976,BROADVIEW HTS,44147,REP,2004-03-08,0,t,R,t,Generation X
3,2465762,1991,SOLON,44139,NOPTY,2010-09-27,0,f,0,f,Millennials
4,710633,1968,INDEPENDENCE,44131,REP,1901-01-01,0,t,R,t,Generation X

In [50]:
voter_final.to_csv('voter_final.csv')