In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
file_to_open = "rvht.csv"
vote_df = pd.read_csv(file_to_open, encoding="ISO-8859-1")

/Users/sarahdivakarla/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (13,25,26,28,35,39,41,42,44,56,71,77,78,82,84,88,89,91,97) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
vote_df.head

<bound method NDFrame.head of         voter_id_org      STATE_ID           city  ward pct name_last  \
0            2410948  OH0020345885   GARFIELD HTS     4   B   TEKAVEC
1             189273  OH0014544976      CLEVELAND     9   H     GREEN
2             504938  OH0014696549   INDEPENDENCE     0   E    NELSON
3            2078785  OH0015598952   INDEPENDENCE     0   E    BECKER
4            2773489  OH0024074123    VALLEY VIEW     0   A     ADAMS
...              ...           ...            ...   ...  ..       ...
873946       2623942  OH0022626849      PARMA HTS     1   C     WILLE
873947       1638210  OH0015036972  NORTH OLMSTED     4   E     TABOR
873948       2206148  OH0018801292  NORTH OLMSTED     4   E   GREGORY
873949       2980747  OH0026014666      CLEVELAND     7   W      ROSS
873950       3017222  OH0026414326    SEVEN HILLS     3   A    HOCUTT

       name_first name_middle name_suffix Status  ... S_02_06_2007  \
0            RYAN           M         NaN      A  ...          NaN
1             RAY     CLINTON         NaN      A  ...          NaN
2           CHRIS           F         NaN      A  ...          NaN
3         ANTHONY           E         NaN      A  ...          NaN
4          TRAVIS     MICHAEL         NaN      I  ...          NaN
...           ...         ...         ...    ...  ...          ...
873946     URSULA         NaN         NaN      I  ...          NaN
873947      BRIAN           A         NaN      A  ...            Y
873948    MICHAEL        SEAN         NaN      A  ...          NaN
873949      KAHLI      ROBERT         NaN      A  ...          NaN
873950     THOMAS           H         NaN      A  ...          NaN

       S_08_08_2006 P_05_02_2006 S_02_07_2006       scd     CONG     HSE  \
0               NaN          NaN          NaN  GAHT CSD  CONG 11  HSE 18
1               NaN            D          NaN  CLEV CSD  CONG 11  HSE 20
2               NaN          NaN          NaN  INDP LSD  CONG 07  HSE 19
3               NaN          NaN          NaN  INDP LSD  CONG 07  HSE 19
4               NaN          NaN          NaN  CYHT LSD  CONG 07  HSE 19
...             ...          ...          ...       ...      ...     ...
873946          NaN          NaN          NaN  PRMA CSD  CONG 07  HSE 14
873947          NaN          NaN          NaN  NOLN CSD  CONG 07  HSE 16
873948          NaN          NaN          NaN  NOLN CSD  CONG 07  HSE 16
873949          NaN          NaN          NaN  CLEV CSD  CONG 11  HSE 20
873950          NaN          NaN          NaN  PRMA CSD  CONG 07  HSE 15

           SEN      JUD     CCD
0       SEN 21  GAR MCD  CCD 08
1       SEN 23  CLE MCD  CCD 07
2       SEN 18  GAR MCD  CCD 06
3       SEN 18  GAR MCD  CCD 06
4       SEN 18  GAR MCD  CCD 06
...        ...      ...     ...
873946  SEN 23  PAR MCD  CCD 04
873947  SEN 24  RRI MCD  CCD 01
873948  SEN 24  RRI MCD  CCD 01
873949  SEN 23  CLE MCD  CCD 07
873950  SEN 24  PAR MCD  CCD 06

[873951 rows x 104 columns]>

In [5]:
primary_general_df =vote_df[vote_df.columns.drop(list(vote_df.filter(regex='S_|SG_|SP_')))]
primary_general_df.shape

(873951, 74)

In [36]:
primary_general_df.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['voter_id_org', 'STATE_ID', 'city', 'ward', 'pct', 'name_last',
       'name_first', 'name_middle', 'name_suffix', 'Status', 'party',
       'Registration Date', 'Last Registration Date', 'house_no', 'pre_dir',
       'street', 'apartment', 'zip', 'birth_date', 'Source', 'P_05_03_2022',
       'G_11_02_2021', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021',
       'G_11_03_2020', 'P_03_17_2020', 'G_11_05_2019', 'P_09_10_2019',
       'P_05_07_2019', 'G_11_06_2018', 'P_05_08_2018', 'G_11_07_2017',
       'P_09_12_2017', 'P_05_02_2017', 'G_11_08_2016', 'P_03_15_2016',
       'G_11_03_2015', 'P_09_08_2015', 'P_05_05_2015', 'G_11_04_2014',
       'P_05_06_2014', 'G_11_05_2013', 'P_10_01_2013', 'P_09_10_2013',
       'P_05_07_2013', 'G_11_06_2012', 'P_03_06_2012', 'G_11_08_2011',
       'P_09_13_2011', 'P_05_03_2011', 'G_11_02_2010', 'P_09_07_2010',
       'P_05_04_2010', 'G_11_03_2009', 'P_09_29_2009', 'P_09_08_2009',
       'P_05_05_2009', 'G_11_04_2008', 'P_03_04_2008', 'G_11_06_2007',
       'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007',
       'P_05_08_2007', 'G_11_07_2006', 'P_05_02_2006', 'scd', 'CONG', 'HSE',
       'SEN', 'JUD', 'CCD'],
      dtype='object')>

In [37]:
# Make dataFrame of Voter Info
voter_df = primary_general_df[['voter_id_org', 'city', 'ward', 'pct', 'party','birth_date','zip', 'Source', 'scd', 'CONG', 'HSE', 'SEN', 'JUD', 'CCD']]
voter_df.head()

,voter_id_org,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,SEN,JUD,CCD
0,2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,CONG 11,HSE 18,SEN 21,GAR MCD,CCD 08
1,189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,CONG 11,HSE 20,SEN 23,CLE MCD,CCD 07
2,504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
3,2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
4,2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06

In [38]:
voter_df = voter_df.set_index('voter_id_org')
voter_df.head()

,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,SEN,JUD,CCD
voter_id_org,,,,,,,,,,,,,
2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,CONG 11,HSE 18,SEN 21,GAR MCD,CCD 08
189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,CONG 11,HSE 20,SEN 23,CLE MCD,CCD 07
504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06
2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,CONG 07,HSE 19,SEN 18,GAR MCD,CCD 06

In [39]:
#Make Election DataFrame
election_df = primary_general_df[['voter_id_org','P_05_03_2022', 'G_11_02_2021', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021', 'G_11_03_2020', 'P_03_17_2020', 'G_11_05_2019', 'P_09_10_2019', 'P_05_07_2019', 'G_11_06_2018', 'P_05_08_2018', 'G_11_07_2017', 'P_09_12_2017', 'P_05_02_2017', 'G_11_08_2016', 'P_03_15_2016', 'G_11_03_2015', 'P_09_08_2015', 'P_05_05_2015', 'G_11_04_2014', 'P_05_06_2014', 'G_11_05_2013', 'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013', 'G_11_06_2012', 'P_03_06_2012', 'G_11_08_2011', 'P_09_13_2011', 'P_05_03_2011', 'G_11_02_2010', 'P_09_07_2010', 'P_05_04_2010', 'G_11_03_2009', 'P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009', 'G_11_04_2008', 'P_03_04_2008', 'G_11_06_2007', 'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'G_11_07_2006', 'P_05_02_2006']]
election_df

,voter_id_org,P_05_03_2022,G_11_02_2021,P_09_14_2021,P_08_03_2021,P_05_04_2021,G_11_03_2020,P_03_17_2020,G_11_05_2019,P_09_10_2019,...,G_11_04_2008,P_03_04_2008,G_11_06_2007,P_10_02_2007,P_09_25_2007,P_09_18_2007,P_09_11_2007,P_05_08_2007,G_11_07_2006,P_05_02_2006
0,2410948,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,189273,D,Y,N,NaN,NaN,Y,NaN,Y,NaN,...,Y,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
2,504938,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN,...,Y,D,Y,NaN,NaN,NaN,NaN,NaN,Y,NaN
3,2078785,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN,...,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,Y,NaN
4,2773489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873946,2623942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873947,1638210,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873948,2206148,N,Y,NaN,NaN,NaN,Y,NaN,NaN,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
873949,2980747,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873950,3017222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
#Replace NaN in election_df
election_cleaned = election_df.fillna(0)
election_cleaned.head()

,voter_id_org,P_05_03_2022,G_11_02_2021,P_09_14_2021,P_08_03_2021,P_05_04_2021,G_11_03_2020,P_03_17_2020,G_11_05_2019,P_09_10_2019,...,G_11_04_2008,P_03_04_2008,G_11_06_2007,P_10_02_2007,P_09_25_2007,P_09_18_2007,P_09_11_2007,P_05_08_2007,G_11_07_2006,P_05_02_2006
0,2410948,0,0,0,0,0,Y,0,0,0,...,Y,0,0,0,0,0,0,0,0,0
1,189273,D,Y,N,0,0,Y,0,Y,0,...,Y,D,0,0,0,0,0,0,0,D
2,504938,0,0,0,0,0,Y,0,Y,0,...,Y,D,Y,0,0,0,0,0,Y,0
3,2078785,0,0,0,0,0,Y,0,Y,0,...,Y,0,Y,0,0,0,0,0,Y,0
4,2773489,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
#Made only General Election DataFrame
gen_cleaned_df = election_cleaned[['voter_id_org','G_11_02_2021', 'G_11_03_2020', 'G_11_05_2019', 'G_11_06_2018', 'G_11_07_2017', 'G_11_08_2016', 'G_11_03_2015', 'G_11_04_2014', 'G_11_05_2013', 'G_11_06_2012', 'G_11_08_2011', 'G_11_02_2010', 'G_11_03_2009', 'G_11_04_2008', 'G_11_06_2007', 'G_11_07_2006']]
gen_cleaned_df.head()

,voter_id_org,G_11_02_2021,G_11_03_2020,G_11_05_2019,G_11_06_2018,G_11_07_2017,G_11_08_2016,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
0,2410948,0,Y,0,Y,0,Y,Y,0,0,Y,Y,0,0,Y,0,0
1,189273,Y,Y,Y,Y,Y,Y,Y,Y,0,Y,Y,Y,0,Y,0,0
2,504938,0,Y,Y,Y,0,Y,0,Y,Y,Y,Y,Y,Y,Y,Y,Y
3,2078785,0,Y,Y,Y,Y,Y,Y,Y,0,0,Y,Y,0,Y,Y,Y
4,2773489,0,0,0,0,0,Y,0,0,0,0,0,0,0,0,0,0

In [42]:
gen_cleaned_df.dtypes

voter_id_org     int64
G_11_02_2021    object
G_11_03_2020    object
G_11_05_2019    object
G_11_06_2018    object
G_11_07_2017    object
G_11_08_2016    object
G_11_03_2015    object
G_11_04_2014    object
G_11_05_2013    object
G_11_06_2012    object
G_11_08_2011    object
G_11_02_2010    object
G_11_03_2009    object
G_11_04_2008    object
G_11_06_2007    object
G_11_07_2006    object
dtype: object

In [43]:
gen_cleaned_df.replace(
        to_replace="Y",
        value=1,
        inplace=True)

/Users/sarahdivakarla/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [44]:
gen_cleaned_df.head()

,voter_id_org,G_11_02_2021,G_11_03_2020,G_11_05_2019,G_11_06_2018,G_11_07_2017,G_11_08_2016,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
0,2410948,0,1,0,1,0,1,1,0,0,1,1,0,0,1,0,0
1,189273,1,1,1,1,1,1,1,1,0,1,1,1,0,1,0,0
2,504938,0,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1
3,2078785,0,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1
4,2773489,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [45]:
gen_cleaned_df = gen_cleaned_df.set_index('voter_id_org')
gen_cleaned_df.head()

,G_11_02_2021,G_11_03_2020,G_11_05_2019,G_11_06_2018,G_11_07_2017,G_11_08_2016,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
voter_id_org,,,,,,,,,,,,,,,,
2410948,0,1,0,1,0,1,1,0,0,1,1,0,0,1,0,0
189273,1,1,1,1,1,1,1,1,0,1,1,1,0,1,0,0
504938,0,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1
2078785,0,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1
2773489,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [46]:
# Make Primary Election DataFrame
primary_df = primary_general_df[['voter_id_org','P_05_03_2022', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021', 'P_03_17_2020', 'P_09_10_2019', 'P_05_07_2019', 'P_05_08_2018', 'P_09_12_2017', 'P_05_02_2017', 'P_03_15_2016', 'P_09_08_2015', 'P_05_05_2015', 'P_05_06_2014', 'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013','P_03_06_2012',  'P_09_13_2011', 'P_05_03_2011', 'P_09_07_2010', 'P_05_04_2010','P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009','P_03_04_2008', 'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'P_05_02_2006']]
primary_cleaned = primary_df.fillna(0)
primary_cleaned.replace(
        to_replace="Y",
        value=1,
        inplace=True)
primary_cleaned = primary_cleaned.set_index('voter_id_org')
primary_cleaned.head()

,P_05_03_2022,P_09_14_2021,P_08_03_2021,P_05_04_2021,P_03_17_2020,P_09_10_2019,P_05_07_2019,P_05_08_2018,P_09_12_2017,P_05_02_2017,...,P_09_29_2009,P_09_08_2009,P_05_05_2009,P_03_04_2008,P_10_02_2007,P_09_25_2007,P_09_18_2007,P_09_11_2007,P_05_08_2007,P_05_02_2006
voter_id_org,,,,,,,,,,,,,,,,,,,,,
2410948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
189273,D,N,0,0,0,0,0,0,N,0,...,0,0,0,D,0,0,0,0,0,D
504938,0,0,0,0,0,0,0,0,0,0,...,0,0,0,D,0,0,0,0,0,0
2078785,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2773489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# Hot Code Primary Dataset to keep the Party Affliation Data
one_hot_encoded_data = pd.get_dummies(primary_cleaned, columns = ['P_05_03_2022', 'P_09_14_2021', 'P_08_03_2021', 'P_05_04_2021', 'P_03_17_2020', 'P_09_10_2019', 'P_05_07_2019', 'P_05_08_2018', 'P_09_12_2017', 'P_05_02_2017', 'P_03_15_2016', 'P_09_08_2015', 'P_05_05_2015', 'P_05_06_2014', 'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013','P_03_06_2012',  'P_09_13_2011', 'P_05_03_2011', 'P_09_07_2010', 'P_05_04_2010','P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009','P_03_04_2008', 'P_10_02_2007', 'P_09_25_2007', 'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'P_05_02_2006'])
print(one_hot_encoded_data)

              P_05_03_2022_0  P_05_03_2022_D  P_05_03_2022_N  P_05_03_2022_R  \
voter_id_org
2410948                    1               0               0               0
189273                     0               1               0               0
504938                     1               0               0               0
2078785                    1               0               0               0
2773489                    1               0               0               0
...                      ...             ...             ...             ...
2623942                    1               0               0               0
1638210                    1               0               0               0
2206148                    0               0               1               0
2980747                    1               0               0               0
3017222                    1               0               0               0

              P_09_14_2021_0  P_09_14_2021_D  P_09_14_2021_N  P_08_03_2021_0  \
voter_id_org
2410948                    1               0               0               1
189273                     0               0               1               1
504938                     1               0               0               1
2078785                    1               0               0               1
2773489                    1               0               0               1
...                      ...             ...             ...             ...
2623942                    1               0               0               1
1638210                    1               0               0               1
2206148                    1               0               0               1
2980747                    1               0               0               1
3017222                    1               0               0               1

              P_08_03_2021_D  P_08_03_2021_N  ...  P_05_08_2007_D  \
voter_id_org                                  ...
2410948                    0               0  ...               0
189273                     0               0  ...               0
504938                     0               0  ...               0
2078785                    0               0  ...               0
2773489                    0               0  ...               0
...                      ...             ...  ...             ...
2623942                    0               0  ...               0
1638210                    0               0  ...               0
2206148                    0               0  ...               0
2980747                    0               0  ...               0
3017222                    0               0  ...               0

              P_05_08_2007_I  P_05_08_2007_N  P_05_08_2007_R  P_05_02_2006_0  \
voter_id_org
2410948                    0               0               0               1
189273                     0               0               0               0
504938                     0               0               0               1
2078785                    0               0               0               1
2773489                    0               0               0               1
...                      ...             ...             ...             ...
2623942                    0               0               0               1
1638210                    0               0               0               1
2206148                    0               0               0               1
2980747                    0               0               0               1
3017222                    0               0               0               1

              P_05_02_2006_   P_05_02_2006_D  P_05_02_2006_I  P_05_02_2006_N  \
voter_id_org
2410948                    0               0               0               0
189273                     0               1               0               0
504938                     0               0               0               0
2078785                    0               0               0               0
2773489                    0               0               0               0
...                      ...             ...             ...             ...
2623942                    0               0               0               0
1638210                    0               0               0               0
2206148                    0               0               0               0
2980747                    0               0               0               0
3017222                    0               0               0               0

              P_05_02_2006_R
voter_id_org
2410948                    0
189273                     0
504938                     0
2078785                    0
2773489                    0
...                      ...
2623942                    0
1638210                    0
2206148                    0
2980747                    0
3017222                    0

[873951 rows x 138 columns]

In [48]:
#Join Voter and General for testing
vote_gen_merged = pd.merge(voter_df,gen_cleaned_df, how="inner", on=["voter_id_org"])
vote_gen_merged.head()

,city,ward,pct,party,birth_date,zip,Source,scd,CONG,HSE,...,G_11_03_2015,G_11_04_2014,G_11_05_2013,G_11_06_2012,G_11_08_2011,G_11_02_2010,G_11_03_2009,G_11_04_2008,G_11_06_2007,G_11_07_2006
voter_id_org,,,,,,,,,,,,,,,,,,,,,
2410948,GARFIELD HTS,4,B,NOPTY,1988,44125,CITY HALL - GARFIELD HEIGHTS,GAHT CSD,CONG 11,HSE 18,...,1,0,0,1,1,0,0,1,0,0
189273,CLEVELAND,9,H,DEM,1954,44106,HIGH SCHOOL - JOHN HAY,CLEV CSD,CONG 11,HSE 20,...,1,1,0,1,1,1,0,1,0,0
504938,INDEPENDENCE,0,E,NOPTY,1952,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,...,0,1,1,1,1,1,1,1,1,1
2078785,INDEPENDENCE,0,E,NOPTY,1967,44131,LIBRARY - INDEPENDENCE,INDP LSD,CONG 07,HSE 19,...,1,1,0,0,1,1,0,1,1,1
2773489,VALLEY VIEW,0,A,NOPTY,1997,44125,LIBRARY - INDEPENDENCE,CYHT LSD,CONG 07,HSE 19,...,0,0,0,0,0,0,0,0,0,0

In [49]:
vote_gen_merged.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['city', 'ward', 'pct', 'party', 'birth_date', 'zip', 'Source', 'scd',
       'CONG', 'HSE', 'SEN', 'JUD', 'CCD', 'G_11_02_2021', 'G_11_03_2020',
       'G_11_05_2019', 'G_11_06_2018', 'G_11_07_2017', 'G_11_08_2016',
       'G_11_03_2015', 'G_11_04_2014', 'G_11_05_2013', 'G_11_06_2012',
       'G_11_08_2011', 'G_11_02_2010', 'G_11_03_2009', 'G_11_04_2008',
       'G_11_06_2007', 'G_11_07_2006'],
      dtype='object')>

In [60]:
vote_gen_merged['zip'] = vote_gen_merged['zip'].str[:5]

In [61]:
# Assign the data to X and y
y=vote_gen_merged["G_11_03_2020"]
X=vote_gen_merged.drop(columns=['city', 'ward', 'pct', 'party','Source','scd',
       'CONG', 'HSE', 'SEN', 'JUD', 'CCD', 'G_11_02_2021', 'G_11_03_2020',
       'G_11_05_2019', 'G_11_06_2018', 'G_11_07_2017', 'G_11_08_2016',
       'G_11_03_2015', 'G_11_04_2014', 'G_11_05_2013', 'G_11_06_2012',
       'G_11_08_2011', 'G_11_02_2010', 'G_11_03_2009', 'G_11_04_2008',
       'G_11_06_2007', 'G_11_07_2006'])
print("Shape: ", X.shape, y.shape)

Shape:  (873951, 2) (873951,)

In [62]:
# Split the data by using train_test_split()
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [63]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [64]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [65]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.696072852319658
Testing Data Score: 0.6958368422979752